aside {
  background-color: lightgray;
  height: 100vh;
}

.content-wrapper {
  width: 60%;
}

figure {
  margin-top: 0;
  text-align: center;
  padding-top: 3em;
}

img {
  border-radius: 50%;
  width: 100%;
}

p {
  font-size: 0.9em;
  line-height: 2em;
}
